# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# Environment / Secrets
# ==============================

.env
.env.*
!.env.example

# Streamlit secrets
.streamlit/secrets.toml


# Generated master dataset
data/agroyield_master.csv

# ==============================
# Temporary Files
# ==============================

*.tmp
*.temp
*.log

# Microsoft Office temporary/lock files
~$*.docx
~$*.xlsx
~$*.pptx

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================

.vscode/
.idea/